<!-- <h2>My courses</h2>
<ul class="courses">
  <li *ngFor="let course of courses">
    <span class="badge">{{course.id}}</span> {{course.name}}
  </li>
</ul> -->
<h2>Courses</h2>
<ul>
  <li *ngFor="let course of courses">
    <!-- <a routerLink="/course/{{course.id}}">
      {{course.name}}
    </a> -->
    {{course.name}}
    
    <ul>
      <li *ngFor="let date of course.date; let i = index">
        <a routerLink="/course/{{course.id}}/{{i}}">
          {{date}} {{i}}
          
        </a>
        
      </li>
    </ul>
  </li>
</ul>