<!-- <nav>
    <div>
        <a class="logo" routerLink=""></a>
    </div>
    <ul>
        <li><a routerLink="/test" routerLinkActive="is-active">Home</a></li>
    </ul>
</nav> -->
<div class="header">
    <div class="navbar" style="overflow: inherit">
        <div class="navbar-inner">
            <div class="container">
                <div class="temporary">
                    <a class="logo" routerLink=""></a>
                    <!-- <a class="logo" href="http://www.xnptour.club"></a> -->
                </div>
                <a class="a-small?"></a>
                <div class="visible-large">
                    <div class="nav-container">
                        <ul class="nav">
                            <li>
                                <a routerLink="/courses">
                                    <span>Courses</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/players">
                                    <span>Players</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>