<div class="header" id="myHeader">
  <div>Total Strokes</div>
  

  <table id="myTable">
    <tr>
      <td *ngFor="let score of totalScores; let i = index">
        {{score.pos}} {{score.name}} {{score.totalScore}}
      </td>
    </tr>
  </table>
</div>
<div class="content"></div>
<!-- <div class="header" id="myHeader">
    <span>Top Players</span>
    <div class="grid grid-pad">
      <a *ngFor="let player of players" class="col-1-4">
        <div class="module player">
          <h4>{{player.name}}</h4>
        </div>
      </a>
    </div>
  </div> -->