<div *ngIf="course; else courseNotFound">
  <div *ngIf="courseDate; else dateNotFound">
    <img src="../assets/images/courseImages/{{course.id}}.png">
    <h2>{{ course.name | uppercase }}</h2>
    <h3>{{courseDate | date:fullDate}}</h3>
    <!-- <div><span>id: </span>{{course.id}}</div> -->
    <!-- <div><span>name: </span>{{course.name}}</div> -->
    <!-- <div><span>date: </span>{{courseDate}}</div> -->
  </div>

  <div>
    <h2>Scores</h2>
    <table id="myTable" *ngIf="courseDate;">
      <tr>
        <th (click)="sortPOSTable()">POS</th>
        <th (click)="sortNameTable()">Player Name</th>
        <th (click)="sortStrokesTable()">Strokes</th>
      </tr>
      <tr *ngFor="let score of newScores; let i = index">
        <td *ngIf="scores[i].date == currentDate">
          <ng-container>
              {{score.pos}}
          </ng-container>
          
        </td>
        <td *ngIf="scores[i].date == currentDate">
          {{score.name}}
        </td>
        <ng-container *ngIf="scores[i].date == currentDate">
          <td>
            {{(score.hole1-0) + (score.hole2-0) +
              (score.hole3-0) + (score.hole4-0) +
              (score.hole5-0) + (score.hole6-0) +
              (score.hole7-0) + (score.hole8-0) +
              (score.hole9-0) + (score.hole10-0) +
              (score.hole11-0) + (score.hole12-0) +
              (score.hole13-0) + (score.hole14-0) +
              (score.hole15-0) + (score.hole16-0) +
              (score.hole17-0) + (score.hole18-0)}}
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>


<ng-template #courseNotFound>
  <h1>
    PAGE NOT FOUND course does not exist.
  </h1>
</ng-template>
<ng-template #dateNotFound>
  <h1>
    PAGE NOT FOUND course date does not exist.
  </h1>
</ng-template>