<div *ngIf="course; else courseNotFound">
  <div *ngIf="courseDate; else dateNotFound">
    <img src="../assets/images/courseImages/{{course.id}}.png">
    <h2>{{ course.name | uppercase }} Details</h2>
    <div><span>id: </span>{{course.id}}</div>
    <div><span>name: </span>{{course.name}}</div>
    <div><span>date: </span>{{courseDate}}</div> <!--> | date:'fullDate' <-->
  </div>
  <div>
    <h2>Scores</h2>
  </div>
</div>

<ng-template #courseNotFound>
  <h1>
    PAGE NOT FOUND course does not exist.
  </h1>
</ng-template>
<ng-template #dateNotFound>
  <h1>
    PAGE NOT FOUND course date does not exist.
  </h1>
</ng-template>